.weather-widget {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
}

.weather-info {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-info img {
    width: 64px;
    height: 64px;
}
